
:root {
    --primary: #1DA1F2;
    --secondary: #657786;
    --background: #FFFFFF;
    --success: #17BF63;
    --warning: #FFAD1F;
    --error: #E0245E;
    --info: #0069B2;
    --text-primary: #14171A;
    --text-secondary: #657786;
    --text-white: #FFFFFF;
    --card-background: #F5F8FA;
    --border: #E1E8ED;
    --hover: #E1E8ED;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px;
}


.restaurant-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/*TABLET SCREEN*/
@media (min-width: 640px) {
    .restaurant-container{
        grid-template-columns: 1fr 1fr;
    }
}

/*DESKTOP SCREEN*/
@media (min-width: 1024px) {
    .restaurant-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.restaurant-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 12px;
    padding: 16px;
    background-color: var(--card-background);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    width: 100%;
}

.card__image {
    min-width: 180px;
}

.card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card__content{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.card__content button{
   background-color: var(--primary);
    border: 0px;
    padding: 10px 15px;
    border-radius: 16px;
    color: var(--text-white);
    font-weight: bold;
}

.card__content .restaurant__status{
    background-color: transparent;
    padding: 6px 12px;
    border-radius: 16px;
    text-align: center;
    font-weight: bold;
    width: 200px;
}

.card__content .restaurant__status--open{
    color: var(--success);
    border: 1px solid var(--success);
}

.card__content .restaurant__status--close{
    color: var(--error);
    border: 1px solid var(--error);
}
